// Container tổng quan
.lab-container {
  padding: 15px;
  background-color: #ffffff;
  min-height: 100vh;
}

// Tiêu đề chính
.lab-title {
  color: #1890ff;
  text-align: center;
  margin-bottom: 20px;
}

.ant-card-head-title{
  margin-top: 10px;
}

// Spinner
.lab-spinner {
  display: block;
  margin: auto;
}

// Thẻ Card
.lab-card {
  background-color: #e7f1f9;
  border-color: #bbedf9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
}

// Wrapper cho icon
.icon-wrapper {
  margin-bottom: 10px;
}

// Icon
.icon {
  font-size: 36px;
  margin-bottom: 10px;
}
.ant-btn-luan-chuyen {
  // Giữ nguyên phong cách cơ bản của Ant Design
  background-color: rgb(91, 168, 239); // Màu nền (có thể thay đổi)
  color: #fff; // Màu chữ
  border: none; // Loại bỏ viền

  &:hover {
    background-color: #40a9ff; // Màu nền khi hover
    color: #fff; // Màu chữ khi hover
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); // Hiệu ứng focus
  }

  // Tùy chỉnh kích thước nút
  width: 100px;
  height: 30px;
  font-size: 12px;

  // Tùy chỉnh góc bo tròn
  border-radius: 5px;

  // Thêm animation khi nhấn
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:active {
    transform: scale(0.95); // Hiệu ứng thu nhỏ khi click
  }
}

